<app-headerDash></app-headerDash>

<div class="listingUserStart">
    <div class="text">
        <h1>Getting started !</h1>
        <p>Pellentesque tempus placerat massa eu tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Donec ut aliquet mi. Donec eget tortor tellus. Nulla tincidunt fringilla enim eu viverra.
            Cras lacinia faucibus pellentesque. Sed commodo magna quis sem euismod.</p>
    </div>
    <div class="add">
       <div><p>ADD PACKAGE</p></div>
    </div>
</div>
<!-- <div class="listingUserContent">
    <p>test</p>
</div> -->
<div class="footer" style="position:absolute; bottom:0;">
        <div class="icon"></div>
        <div class="menu" style="position:relative; float:right; margin-right:15px;">
            <p>©2017 Louis Vallaey</p>
        </div>
    </div>