

    <div class="workspace" [@rightCenter]="stateExpression">
        <div class="tablepackage">
            <div class="head">
                <p>Active packages</p>
            </div>
            <div class="list">
                <div class="item" *ngFor="let package of activePackages">
                    <div class="ctn">
                        <p></p>
                    </div>
                    <div style="text-align:center;">
                        <div class="info">
                            <p>Sender</p>
                            <p>{{package.addressline1}} {{package.addressline2}}</p>
                            <p>{{package.postalcode}} {{package.city}}</p>
                            <p>{{package.country}}</p>
                        </div>
                        <div class="info">
                            <p>Receiver</p>
                            <p>{{package.addressline1Rec}} {{package.addressline2Rec}}</p>
                            <p>{{package.postalcodeRec}} {{package.cityRec}}</p>
                            <p>{{package.countryRec}}</p>
                        </div>
                        <div class="status">
                            <p>Status</p>
                            <button>package pickup</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>