<app-header></app-header>
<div class="dashboardDriver">
    <div class="menuleft">
        <div class="name">
            <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>
        <div class="menu">
            <div class="menuitem" [routerLink]="['/dashboard/available']">
                <p>Available packages</p>
                <div></div>
            </div>
            <div class="menuitem" [routerLink]="['/dashboard/active']">
                <p>Active packages</p>
                <div></div>
            </div>
            <div class="menuitem" [routerLink]="['/dashboard/delivered']">
                <p>Delivered packages</p>
                <div></div>
            </div>
        </div>
    </div>
    <div class="workspace">
        <div class="overview">
            <div class="box">
                <h1>{{availablecount}}</h1>
                <p>Available packages</p>
            </div>
            <div class="box">
                <h1>{{activecount}}</h1>
                <p>Active packages</p>
            </div>
            <div class="box">
                <h1>{{deliveredcount}}</h1>
                <p>Delivered packages</p>
            </div>
        </div>
    </div>
</div>