<app-header></app-header>
<div class="dashboardDriver">
    <div class="menuleft">
        <div class="name">
            <p>{{currentUser.firstName}} {{currentUser.lastName}}</p>
        </div>
        <div class="menu">
            <div class="menuitem" (click)="setAvailablePage()">
                <p>Available packages</p>
                <div></div>
            </div>
            <div class="menuitem" (click)="setActivePage()">
                <p>Active packages</p>
                <div></div>
            </div>
            <div class="menuitem" (click)="setDeliveredPage()">
                <p>Delivered packages</p>
                <div></div>
            </div>
        </div>
    </div>

<app-counterpage></app-counterpage>
<app-availablepage></app-availablepage>
<app-activepage></app-activepage>
<app-deliveredpage></app-deliveredpage>


    
</div>