<app-header></app-header>
<div class="content">
    <div class="logincon">
        <p>Apply for driver :</p>
        <form>
            <p>Email</p>
            <input type="text" id="Email" placeholder="Example@example.com">
            <p>Password</p>
            <input type="password" id="passw" placeholder="Password">
            <input style="padding-top:11px;" type="password" id="passwa" placeholder="Confirm Password">
            <button type="submit">Apply</button>
        </form>
    </div>
</div>
<div class="footer" style="position:absolute; bottom:0;">
    <div class="icon"></div>
    <div class="menu" style="position:relative; float:right; margin-right:15px;">
        <p>©2017 Louis Vallaey</p>
    </div>
</div>
