
    <div class="workspace" [@rightCenter]="stateExpression">
        <div class="tablepackage">
            <div class="head">
                <p>Available packages</p>
            </div>
            <div class="list">
                <div class="item" *ngFor="let package of packages">
                    <div class="ctn">
                        <p></p>
                    </div>
                    <div class="info" style="width:45%;text-align:left;">
                        <p>Sender</p>
                        <p>{{package.addressline1}} {{package.addressline2}}</p>
                        <p>{{package.postalcode}} {{package.city}}</p>
                        <p>{{package.country}}</p>
                    </div>
                    <div class="info"style="width:45%;text-align:left;">
                        <p>Receiver</p>
                        <p>{{package.addressline1Rec}} {{package.addressline2Rec}}</p>
                        <p>{{package.postalcodeRec}} {{package.cityRec}}</p>
                        <p>{{package.countryRec}}</p>
                    </div>
                    <div class="add">
                        <div>
                            <p>ADD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>