
    <div class="workspace" [@rightCenter]="stateExpression">
        <div class="tablepackage">
            <div class="head">
                <p>Available packages</p>
            </div>
            <div class="list">
                <div class="item" *ngIf="packages === undefined || packages.length === 0">
                    <p style="text-align:center; padding: 10px;
                    color: rgba(0, 0, 0, 0.6);">No packages available</p>
                </div>
                <div class="item" *ngFor="let package of packages">
                    <div class="infoflex">
                    <div class="info">
                        <p>Sender</p>
                        <p>{{package.addressline1}} {{package.addressline2}}</p>
                        <p>{{package.postalcode}} {{package.city}}</p>
                        <p>{{package.country}}</p>
                    </div>
                    <div class="info">
                        <p>Receiver</p>
                        <p>{{package.addressline1Rec}} {{package.addressline2Rec}}</p>
                        <p>{{package.postalcodeRec}} {{package.cityRec}}</p>
                        <p>{{package.countryRec}}</p>
                    </div>
                    <div class="add" (click)="voegDriveridToe(package)">
                        <div>
                            <p>+</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>